::ng-deep .master-detail-caption {
    padding    : 0 0 5px 10px;
    font-size  : 14px;
    font-weight: bold;
  }
  
  ::ng-deep dx-data-grid {
    margin: 10px;
  }
  
  .accordion .mat-expansion-panel-header-title,
  .accordion .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items    : center;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width    : 100%;
  }
  
  .mat-form {
    width        : 100%;
    margin-bottom: 10px;
  }
  
  .linha-botao .mat-button-base {
    margin: 8px 8px 8px 0;
  }