<dx-data-grid [dataSource]="dataSource" [showBorders]="true" [columnAutoWidth]="true" *ngIf="colunas.length > 0"
    [columns]="colunas">
    <!-- <div *ngFor="let coluna of colunas">
        <dxi-column [dataField]="coluna.Nome" [caption]="coluna.Caption" [width]="coluna.Width" alignment="left">
        </dxi-column>
    </div> -->

    <!-- <div *ngFor="let coluna of colunas"> -->
        <!-- <dxi-column dataField="Numero">
        </dxi-column>

        <dxi-column dataField="DataVencimento">
        </dxi-column>

        <dxi-column dataField="Valor">
        </dxi-column> -->
    <!-- </div> -->
</dx-data-grid>